{% extends 'main/base.html' %}
{% load static %}

    {% block title %}
Items
{% endblock %}

{% block pop-ups %}
<div style="display:none" id="rm-pop" class="p-5 absolute z-20 top-1/2 right-1/2 translate-x-1/2 -translate-y-1/4 bg-white">
    <form method="post" class="rm-form">
        {% csrf_token %}
        <p>
            Are you sure you want to
            <b>remove</b> the following items:
        </p>
        <div id="send-ids"></div>
        <button type="submit" name="rm">yes</button>
    </form>
	<button>no</button>
</div>

<div style="display:none" id="ud-pop" class="p-5 absolute z-20 top-1/2 right-1/2 translate-x-1/2 -translate-y-1/4 bg-white">
    <form method="post" class="ud-form">
        {% csrf_token %}
        <button type="submit" name="ud">Update</button>
    </form>
</div>
{% endblock %}

{% block actions %}
<section class="mb-10 px-10 py-2 bg-white flex flex-col">
    <div class="flex items-center justify-between">
        <h1 class="text-3xl font-bold text-green-900">
            Items
        </h1>
        <div class="flex">
            <button id="del-btn" class="px-4 font-semibold text-red-50 bg-red-400">
                <i class="fa-solid fa-trash-can"></i>
                <span>delete</span>
            </button>
            <a href="{% url 'new_item' %}">
                <button class="px-4 py-3 flex items-center font-semibold text-white bg-green-800">
                    <i class="fa-solid fa-square-plus w-5"></i>
                    <span class="ml-3">New Item</span>
                </button>
            </a>
            <button id="tog-colsmenu" class="ml-2 px-2 py-1 bg-gray-500 text-gray-50 rounded-sm">
                <i class="fa-solid fa-list"></i>
                <i class="fa-solid fa-caret-down"></i>
            </button>
        </div>
    </div>
    <div class="relative flex justify-end">
        <form style="display:none" id="colsmenu" class="p-5 absolute flex flex-col bg-white shadow">
            <div>
                <input type="checkbox" name="col" value="id" id="id-opt" checked>
                <label for="id-opt">id</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="ttl" id="name-opt" checked>
                <label for="name-opt">title</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="desc" id="desc-opt" checked>
                <label for="desc-opt">description</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="qty" id="qty-opt" checked>
                <label for="qty-opt">quantity</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="suppl" id="suppl-opt" checked>
                <label for="suppl-opt">supplier</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="cat" id="cat-opt" checked>
                <label for="cat-opt">category</label>
            </div>
            <div>
                <input type="checkbox" name="col" value="site" id="site-opt" checked>
                <label for="site-opt">site</label>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block table %}
<section class="table-sec">
    <table>
        <thead>
            <tr>
                <th>
                    <input id="select-all" type="checkbox">
                </th>
                <th id="th-id" class="w-20">ID</th>
                <th id="th-ttl" class="w-22">Title</th>
                <th id="th-desc">Description</th>
                <th id="th-qty" class="w-24">Quantity</th>
                <th id="th-suppl" class="w-24">Supplier</th>
                <th id="th-cat" class="w-24">Category</th>
                <th id="th-site" class="w-24">Site</th>
                <th class="w-6"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in prod_data %}
            <tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
                <td>
                    <input type="checkbox" name="row" data-name="{{ item.prod_title }}" data-id="{{ item.prod_id }}">
                </td>
                <td id="td-id">
                    <a href="{% url 'show_item' id=item.prod_id %}">{{ item.prod_id }}</a>
                </td>
                <td id="td-ttl">{{ item.prod_title }}</td>
                <td id="td-desc">{{ item.prod_desc }}</td>
                <td id="td-qty">{{ item.stock }}</td>
                <td id="td-suppl">
                    <a href="{% url 'show_supplier' id=item.suppl_id %}">
						{{ item.suppl.suppl_name }}
					</a>
                </td>
                <td id="td-cat">
                    <a href="{% url 'show_cat' id=item.cat_id %}">
						{{ item.cat.cat_name }}
					</a>
                </td>
                <td id="td-site">
                    <a href="{% url 'show_site' id=item.locat_id %}">
						{{ item.locat.site_name }}
					</a>
                </td>
                <td class="">
					<button data-id="{{ item.prod_id }}" class="update-btn px-3 py-2 h-fit font-semibold text-blue-800 bg-blue-200">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
