{% extends 'main/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
{{ item.ttl }}
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 bg-white rounded-md">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold">
			<span>
				<a href="{% url 'items' %}">Items</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ item.ttl }}
			</span>
			<span id="to_cpy" class="cursor-pointer text-blue-700 duration-300 hover:text-blue-900">
				&num;{{ item.id }}
			</span>
		</h1>
		{% if item.img %}
		<img class="zoom" src="{{ item.img.url }}" alt="" />
		{% else %}
		<span class="w-26 h-60 flex items-center justify-center text-white bg-gray-500">
			<button class="">
				<i class="fa-solid fa-file-arrow-up"></i>
				Add image
			</button>
		</span>
		{% endif %}
		<div class="flex gap-3">
			<button id="delete-btn" class="p-2 h-fit font-semibold text-red-800 bg-red-200">
				<i class="fa-solid fa-trash-can"></i>
				Delete
			</button>
			<button id="update-btn" class="p-2 h-fit font-semibold text-blue-800 bg-blue-200">
				<i class="fa-solid fa-pen-to-square"></i>
				Update
			</button>
		</div>
	</div>
	<table class="">
		<tbody>
			<tr>
				<td>description</td>
				<td>{{ item.desc }}</td>
			</tr>
			<tr>
				<td>quantity</td>
				<td>{{ item.qty }}</td>
			</tr>
			<tr>
				<td>price</td>
				<td>{{ item.price }}</td>
			</tr>
			{% with total_price=item.price|multiply:item.qty %}
			<tr>
				<td>total price</td>
				<td>{{ total_price }}</td>
			</tr>
			{% endwith %}
			<tr>
				<td>currency</td>
				<td>{{ item.currency }}</td>
			</tr>
			<tr>
				<td>supplier</td>
				<td>{{ item.suppl.name }}</td>
			</tr>
			<tr>
				<td>site</td>
				<td>{{ item.site.name }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
