{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ prod.ttl }}
{% endblock %}

{% block pop-ups %}
<div style="display:none" id="rm-pop" class="p-5 absolute z-20 top-1/2 right-1/2 translate-x-1/2 -translate-y-1/4 bg-white">
	<form metdod="post" class="rm-form">
		{% csrf_token %}
		<p>
			Are you sure you want to
			<b>remove</b> Item NO.
			<b>{{ prod.prod_id }}</b> ?
			<button type="submit" name="rm">yes</button>
			<button>no</button>
		</p>
	</form>
</div>

<div style="display:none" id="ud-pop" class="p-5 absolute z-20 top-1/2 right-1/2 translate-x-1/2 -translate-y-1/4 bg-white"></div>
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 bg-white rounded-md">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold">
			<span>
				<a href="{% url 'items' %}">Items</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ prod.ttl }}
			</span>
			<span id="to_cpy" class="cursor-pointer text-blue-700 duration-300 hover:text-blue-900">
				&num;{{ prod.id }}
			</span>
		</h1>
		{% if prod.img %}
		<img class="zoom" src="{{ prod.img.url }}" alt="" />
		{% else %}
		<span class="w-26 h-60 flex items-center justify-center text-white bg-gray-500">
			<button class="">
				<i class="fa-solid fa-file-arrow-up"></i>
				Add image
			</button>
		</span>
		{% endif %}
		<div class="flex gap-3">
			<button id="rm-item" class="p-2 h-fit font-semibold text-red-800 bg-red-200">
				<i class="fa-solid fa-trash-can"></i>
				Remove
			</button>
			<button id="ud-item" class="update-btn p-2 h-fit font-semibold text-blue-800 bg-blue-200">
				<i class="fa-solid fa-pen-to-square"></i>
				Update
			</button>
		</div>
	</div>
	<table class="">
		<tbody>
			<tr>
				<td>description</td>
				<td>{{ prod.desc }}</td>
			</tr>
			<tr>
				<td>quantity</td>
				<td>{{ prod.qty }}</td>
			</tr>
			<tr>
				<td>supplier</td>
				<td>{{ prod.suppl.name }}</td>
			</tr>
			<tr>
				<td>category</td>
				<td>{{ prod.cat.name }}</td>
			</tr>
			<tr>
				<td>site</td>
				<td>{{ prod.site.name }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
