ims/__pycache__/
main/__pycache__/
main/migrations/__pycache__/
items/__pycache__/
items/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
categories/__pycache__/
categories/migrations/__pycache__/
suppliers/__pycache__/
suppliers/migrations/__pycache__/
storagesites/__pycache__/
storagesites/migrations/__pycache__/
utils/__pycache__/
node_modules/
# static/css/styles.css
djenv/
media/
main/templates/404.html
