{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Users
{% endblock %}

{% block pop-ups %}
{% endblock %}

{% block actions %}
<section class="mb-10 px-10 py-2 bg-white flex flex-col">
	<div class="flex items-center justify-between">
		<h1 class="text-3xl font-bold text-green-900">
			Users
		</h1>
		<div class="flex">
			<a href="/users/new/">
				<button class="px-4 py-3 flex items-center font-semibold text-white bg-green-800">
					<i class="fa-solid fa-square-plus w-5"></i>
					<span class="ml-3">New User</span>
				</button>
			</a>
			<button id="tog-colsmenu" class="ml-2 px-2 py-1 bg-gray-500 text-gray-50 rounded-sm">
				<i class="fa-solid fa-list"></i>
				<i class="fa-solid fa-caret-down"></i>
			</button>
		</div>
	</div>
	<div class="relative flex justify-end">
		<form style="display:none" id="colsmenu" class="p-5 absolute flex flex-col bg-white shadow">
			<div>
				<input type="checkbox" name="col" value="id" id="id-opt" checked>
				<label for="id-opt">id</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="ttl" id="name-opt" checked>
				<label for="name-opt">title</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="desc" id="desc-opt" checked>
				<label for="desc-opt">description</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="qty" id="qty-opt" checked>
				<label for="qty-opt">quantity</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="suppl" id="suppl-opt" checked>
				<label for="suppl-opt">supplier</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="cat" id="cat-opt" checked>
				<label for="cat-opt">category</label>
			</div>
			<div>
				<input type="checkbox" name="col" value="site" id="site-opt" checked>
				<label for="site-opt">site</label>
			</div>
		</form>
	</div>
</section>
{% endblock %}

{% block table %}
<section class="table-sec">
	<table>
		<thead>
			<tr>
				<th>username</th>
				<th>email</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr class="{% cycle 'bg-white' 'bg-gray-100' %}">
				<td>
					<a href="/users/@{{ user.username }}">
						{{ user.username }}
					</a>
				</td>
				<td>
					<a href="mailto:{{ user.email }}" class="">
						{{ user.email }}
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
