{% extends "main/base.html" %}
{% load static %}

{% block title %}
	Login
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<section class="h-screen w-full p-10 flex flex-col items-center justify-center bg-gray-100 dark:bg-black">
	<div class="w-1/4 p-10 rounded-lg shadow text-gray-800 bg-gray-300">
		<div class="login-header">
			<h1>Logout</h1>
			<button id="theme-switcher">
				<i id="dark-icon" style="display:none" class="fa-solid fa-moon"></i>
				<i id="light-icon" class="fa-regular fa-sun"></i>
			</button>
		</div>
		<div class="errors">
			<div>
				<i class="fa-solid fa-circle-exclamation"></i>
				<p>default error</p>
			</div>
			{% if errors %}
			{% for err in errors %}
			<div>
				<i class="fa-solid fa-circle-exclamation"></i>
				<p>{{ err }}</p>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<form method="post" class="login">
			{% csrf_token %}
			<label for="{{ form.username.id_for_label }}">
				{{ form.username.label }}
			</label>
			{{ form.username }}
			<label for="{{ form.password.id_for_label }}"> {{ form.password.label }} </label>
			<div class="relative w-full mb-4">
				{{ form.password }}
				<i id="hs-pw-btn" class="fa-solid fa-eye absolute top-[12px] right-[5%]"></i>
			</div>
			<button type="submit">login</button>
		</form>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
