{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block pop-ups %}
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 bg-white rounded-md">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold">
			<span>
				<a href="{% url 'users' %}">Users</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ user.username }}
			</span>
		</h1>
	</div>
	{% if user.profile_photo %}
	<img width=400 id="item-img" class="cursor-zoom-in" src="{{  user.profile_photo.url }}">
	{% endif %}
	<table>
		<tbody>
			<tr>
				<td>username</td>
				<td>
					<a href="{% url 'show_user' username=user.username %}">
						{{ user.username }}
					</a>
				</td>
			</tr>
			<tr>
				<td>firstname</td>
				<td>
					{{ user.first_name }}
				</td>
			</tr>
			<tr>
				<td>lastname</td>
								<td>
					{{ user.last_name }}
				</td>
			</tr>
			<tr>
				<td>email</td>
				<td>
					<a href="mailto:{{ user.email }}" class="">
						{{ user.email }}
					</a>
				</td>
			</tr>
			<tr>
				<td>role</td>
				<td>
					{{ user.role }}
				</td>
			</tr>
			<tr>
				<td>address</td>
				<td>
					{{ user.address }}
				</td>
			</tr>
			<tr>
				<td>gsm</td>
				<td>
					{{ user.gsm }}
				</td>
			</tr>
			<tr>
				<td>joined at</td>
				<td>
					{{ user.joined_at }}
				</td>
			</tr>
			<tr>
				<td>active</td>
				<td>
					{{ user.is_active }}
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
