{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ site.name }}
{% endblock %}

{% block pop-ups %}
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 bg-white rounded-md">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold">
			<span>
				<a href="{% url 'sites' %}">Sites</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ site.name }}
			</span>
			<span id="to_cpy" class="cursor-pointer text-blue-700 duration-300 hover:text-blue-900">
				&num;{{ site.id }}
			</span>
		</h1>
		{% if site.img %}
		<img widtd=400 id="item-img" class="cursor-zoom-in" src="{{ site.img.url }}" alt="{{ site.img }}" title="{{ site.img }}">
		{% else %}
		<span class="w-26 h-60 flex items-center justify-center text-white bg-gray-500">
			<button class="">
				<i class="fa-solid fa-file-arrow-up"></i>
				Add image
			</button>
		</span>
		{% endif %}
		<div class="flex gap-3">
			<button id="rm-item" class="p-2 h-fit font-semibold text-red-800 bg-red-200">
				<i class="fa-solid fa-trash-can"></i>
				Remove
			</button>
			<button id="ud-item" class="p-2 h-fit font-semibold text-blue-800 bg-blue-200">
				<i class="fa-solid fa-pen-to-square"></i>
				Update
			</button>
		</div>
	</div>
	<table class="">
		<tbody>
			<tr>
				<td>type</td>
				<td>{{ site.type }}</td>
			</tr>
			<tr>
				<td>address</td>
				<td>{{ site.addr }}</td>
			</tr>
			<tr>
				<td>phone</td>
				<td>{{ site.phone }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
