{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Category - {{ cat.name }}
{% endblock %}

{% block pop-ups %}
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 rounded-md bg-white">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold text-{{ cat.clr }}-500">
			<span>
				<a href="{% url 'categories' %}">Categories</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ cat.name }}
			</span>
			<span id="to_cpy" class="cursor-pointer text-blue-700 duration-300 hover:text-blue-900">
				&num;{{ cat.id }}
			</span>
		</h1>
		<div class="flex gap-3">
			<button id="rm-item" class="p-2 h-fit font-semibold text-red-800 bg-red-200">
				<i class="fa-solid fa-trash-can"></i>
				Remove
			</button>
			<button id="ud-item" class="p-2 h-fit font-semibold text-blue-800 bg-blue-200">
				<i class="fa-solid fa-pen-to-square"></i>
				Update
			</button>
		</div>
	</div>
	<table class="">
		<tbody>
			<tr>
				<td>name</td>
				<td>{{ cat.name }}</td>
			</tr>
			<tr>
				<td>description</td>
				<td>{{ cat.desc }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
