{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		<link href="{% static 'css/all.min.css' %}" rel="stylesheet">
		{% livereload_script %}
		<title>
			{% block title %}
			Inventory MS
			{% endblock %}
		</title>
	</head>
	<body class="font-['Poppins'] bg-gray-200 dark:bg-gray-700">
		{% block header %}
		<header class="mb-5 bg-white shadow">
			<div class="container mx-auto py-4 flex justify-between">
				<a href="/home/" class="duration-250 hover:text-red-500">
					<i class="fa-solid fa-boxes-stacked"></i>
				</a>
				<ul class="flex items-center justify-center">
					<li class="relative h-full mr-12">
						<button id="tog-browsemenu" class="header-btn">
							<i class="fa-regular fa-compass"></i>
							<span class="ml-2">
								Browse
							</span>
						</button>
						<ul id="browsemenu" style="display:none;" class="menu">
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/items/" class="flex items-center">
									<i class="fa-solid fa-cubes w-3"></i>
									<span class="mx-4">Items</span>
									<span class="w-6 h-5 flex items-center justify-center text-green-800 text-sm font-semibold rounded-lg bg-green-300">
										{{ items_count }}
									</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/locations/" class="flex items-center">
									<i class="fa-solid fa-thumbtack w-3"></i>
									<span class="mx-4">Locations</span>
									<span class="w-6 h-5 flex items-center justify-center text-green-800 text-sm font-semibold rounded-lg bg-green-300">
										{{ locats_count }}
									</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/categories/" class="flex items-center">
									<i class="fa-solid fa-list w-3"></i>
									<span class="mx-4">Categories</span>
									<span class="w-6 h-5 flex items-center justify-center text-green-800 text-sm font-semibold rounded-lg bg-green-300">
										{{ cats_count }}
									</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/suppliers/" class="flex items-center">
									<i class="fa-solid fa-building w-3"></i>
									<span class="mx-4">Suppliers</span>
									<span class="w-6 h-5 flex items-center justify-center text-green-800 text-sm font-semibold rounded-lg bg-green-300">
										{{ suppls_count }}
									</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/suppliers/" class="flex items-center">
									<i class="fa-solid fa-truck w-3"></i>
									<span class="mx-4">Orders</span>
									<span class="w-6 h-5 flex items-center justify-center text-green-800 text-sm font-semibold rounded-lg bg-green-300">
										{{ orders_count }}
									</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="relative h-full mr-12">
						<button id="tog-newmenu" class="header-btn">
							<i class="fa-solid fa-circle-plus"></i>
							<span class="ml-2">
								New
							</span>
						</button>
						<ul id="newmenu" style="display:none;" class="menu">
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/items/new" class="flex items-center">
									<i class="fa-solid fa-cubes w-3"></i>
									<span class="mx-4">Item</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/locations/new" class="flex items-center">
									<i class="fa-solid fa-thumbtack w-3"></i>
									<span class="mx-4">Location</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/categories/new" class="flex items-center">
									<i class="fa-solid fa-list w-3"></i>
									<span class="mx-4">Category</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/suppliers/new" class="flex items-center">
									<i class="fa-solid fa-building w-3"></i>
									<span class="mx-4">Supplier</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="relative h-full">
						<button class="header-btn min-w-[7rem]" id="tog-usermenu">
							<i class="fa-solid fa-user"></i>
							<span class="mx-2 text-sm font-semibold">
								{{ user.username }}
							</span>
							<i class="fa-solid fa-caret-down"></i>
						</button>
						<ul id="usermenu" style="display:none;" class="menu">
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="#" class="flex items-center">
									<i class="fa-solid fa-gear w-3"></i>
									<span class="mx-4">settings</span>
								</a>
							</li>
							<li id="theme-switcher" class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a class="flex items-center">
									<i class="fa-solid fa-sun w-3" id="light-icon"></i>
									<i style="display:none" class="fa-solid fa-moon w-3" id="dark-icon"></i>
									<span class="mx-4">theme</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="/logout/" class="flex items-center">
									<i class="fa-solid fa-right-from-bracket w-3"></i>
									<span class="mx-4">logout</span>
								</a>
							</li>
							<li class="px-4 py-2 rounded-md duration-250 hover:bg-gray-200">
								<a href="#" class="flex items-center">
									<i class="fa-regular fa-address-card w-3"></i>
									<span class="mx-4">profile</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</header>
		{% endblock %}

		<!-- consider styling it later -->
		{% block main %}
		<section id="main-sec" class="">
			{% block content %}
			<main class="mx-20">
				{% block actions %}
				{% endblock %}
				{% block table %}
				{% endblock %}
			</main>
			{% endblock %}
		</section>
		{% endblock %}

		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/theme.js' %}"></script>

		{% block scripts %}
		<script src="{% static 'js/main.js' %}"></script>
		{% endblock %}

	</body>
</html>
