<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-qFOQ9YFAeGj1gDOuUD61g3D+tLDv3u1ECYWqT82WQoaWrOhAY+5mRMTTVsQdWutbA5FORCnkEPEgU0OF8IzGvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<title>
		{% block title %}
			Inventory MS
		{% endblock %}
	</title>
</head>
<body class="">
	{% block header %}
		<header class="bg-gray-400">
			<div class="container mx-auto py-4 flex justify-between bg-red-400">
				<a href="#" class="">
					<i class="fa-solid fa-boxes-stacked"></i>
				</a>
				{% block nav %}
					<ul class="flex justify-between bg-green-400">
						<li class="">
							<a href="#" class="mx-2 my-2">items</a>
						</li>
						<li class="">
							<a href="#" class="mx-2 my-2">suppliers</a>
						</li>
						<li class="">
							<a href="#" class="mx-2 my-2">orders</a>
						</li>
						<li class="">
							<a href="#" class="mx-2 my-2">profile</a>
						</li>
					</ul>
				{% endblock %}
			</div>
		</header>
	{% endblock %}

	<section class="">
		{% block sidebar %}
			<aside class="fixed top-[56px] left-0 w-16 flex flex-col bg-cyan-400">
				<ul class="">
					<li class="">a</li>
					<li class="">b</li>
					<li class="">c</li>
					<li class="">d</li>
				</ul>
			</aside>
		{% endblock %}

		{% block main %}
			<main class="container mx-auto bg-red-500">
				{% block actions %}
					<section class="text-center">
						actions
					</section>
				{% endblock %}
				{% block table %}
					<!-- <table class="w-full mx-auto border border-collapse border-gray-500"> -->
					<table class="w-full">
						<thead class="bg-gray-50 border-b-2 border-gray-200">
							<tr class="">
								<th class="p-3 text-left">Product ID</th>
								<th class="p-3 text-left">Image</th>
								<th class="p-3 text-left">Qnty in stock</th>
								<th class="p-3 text-left">status</th>
							</tr>
						</thead>
						<tbody class="">
							<tr class="bg-white">
								<td class="p-3 text-left">iegwyud</td>
								<td class="p-3 text-left">image</td>
								<td class="p-3 text-left">100</td>
								<td class="p-3 text-left">(in stock)</td>
							</tr>
							<tr class="bg-gray-100">
								<td class="p-3 text-left">iegwyud</td>
								<td class="p-3 text-left">image</td>
								<td class="p-3 text-left">100</td>
								<td class="p-3 text-left">(in stock)</td>
							</tr>
						</tbody>
					</table>
				{% endblock %}
			</main>
		{% endblock %}
	</section>

	{% block footer %}
	{% endblock %}
</body>
</html>
