{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ prod.ttl }}
{% endblock %}

{% block main %}
<section class="container mx-auto p-5 bg-white rounded-md">
	<div class="mb-10 grid grid-cols-3 gap-8">
		<h1 class="text-3xl font-bold">
			<span>
				<a href="{% url 'prods' %}">Products</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ prod.ttl }}
		</span>
			<span id="to_cpy" class="cursor-pointer text-blue-700 duration-300 hover:text-blue-900">
				&num;{{ prod.id }}
			</span>
		</h1>
		{% if prod.img %}
		<img class="zoom" src="{{ prod.img.url }}" alt="" />
		{% else %}
		<span class="w-26 h-60 flex items-center justify-center text-white bg-gray-500">
			<button class="">
				<i class="fa-solid fa-file-arrow-up"></i>
				Add image
			</button>
		</span>
		{% endif %}
		<div class="flex gap-3">
			<button id="delete-btn" class="p-2 h-fit font-semibold text-red-800 bg-red-200">
				<i class="fa-solid fa-trash-can"></i>
				Delete
			</button>
			<button id="update-btn" class="cursor-pointer p-2 h-fit font-semibold text-blue-800 bg-blue-200">
				<i class="fa-solid fa-pen-to-square"></i>
				Update
			</button>
		</div>
	</div>
	<table>
		<tbody>
			<tr>
				<td>description</td>
				<td>{{ prod.desc }}</td>
			</tr>
			<tr>
				<td>category</td>
				<td>{{ prod.cat }}</td>
			</tr>
			<tr>
				<td>N.O. Items</td>
				<td>{{ prod.item_count }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
