{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ prod.ttl }}
{% endblock %}

{% block main %}
<section class="container mx-auto">
	<div class="mb-4 d-flex align-items-start justify-content-between gap-3 mb-5">
		<h1 class="fw-bold">
			<span>
				<a class="text-dark text-decoration-none" href="{% url 'prods' %}">
					products
				</a>
				<span>&frasl;</span>
			</span>
			<br>
			<span>
				{{ prod.ttl }}
			</span>
		</h1>
		{% if prod.img %}
		<img class="zoom" src="{{ prod.img.url }}" alt="" />
		{% endif %}
		<div class="d-flex justify-content-center gap-3">
			<button id="update-btn" type="button" class="btn btn-outline-primary"data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				<i class="fa-solid fa-pen-to-square"></i>
				<span>update</span>
			</button>
			<button class="btn btn-outline-danger" id="delete-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
				<i class="fa-solid fa-trash-can"></i>
				<span>delete</span>
			</button>
		</div>
	</div>
	<table class="table table-striped table-hover table-bordered">
		<tbody>
			<tr>
				<th scope="row">id</th>
				<td>{{ prod.id }}</td>
			</tr>
			<tr>
				<th scope="row">description</th>
				<td>{{ prod.desc }}</td>
			</tr>
			<tr>
				<th scope="row">category</th>
				<td>{{ prod.cat }}</td>
			</tr>
			<tr>
				<th  scope="row">N.O. Items</th>
				<td>{{ prod.item_count }}</td>
			</tr>
		</tbody>
	</table>
</section>
{% endblock %}
